:root{
  --main: #cdad69;
  --main--hover: #bda05e;
  --secondary: "";
  --secondary--hover: "";
  --background: #1c1c1c;
  --text--gray:#4e4e4e;
  --black: black;
}
body{
  background-color: var(--background);
  margin: 0 auto;
}
.text-capital{
  text-transform: uppercase;
}
figure{
  padding: 0;
  margin: 0;
}
.spacing{
  padding:8rem 0;
}
.wrapper{
  max-width: 1400px;
  padding: 1rem;
}
.text-black{
  color: var(--black);
}

.text-white{
  color: white;
}
.text-main,
.nav_active{
 color: var(--main); 
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

@media (min-width: 875px) {
  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.3rem;
  }
}
a{
  color: unset;
  text-decoration: none;
}
.text-gray{
  color: var(--text--gray);
}
.logo{
  width: fit-content;
  height: fit-content;
  background-color: var(--main);
  padding: 2rem 2.5rem;
  float: left;
}
.logo a{
  font-size: 2rem;
}
.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
}
nav {
  background-color: #272727;
  position: absolute;
  width: 100%;
  top: -350px;
  left: 0;
  opacity: 0;
  transition: 0.125s ease;
  visibility: hidden;
  --nav-spacing: 18px;
  opacity: 100;
}
nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav ul li{
  margin: 0 0.5rem;
}
nav ul li img {
width: 2rem;
height: 2rem;
}
.nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__list-item {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 500;
}
.nav__list-item > a {
  display: block;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  border-bottom: 0.25rem solid #1D1D1D;
}
.nav__list-item > a:hover {
  border-bottom: 0.25rem solid #F24C4C;
  cursor: pointer;
  transition: 0.125s;
}
.nav__list-item--active {
  box-sizing: border-box;
}
.nav__list-item--active > a {
  border-bottom: 0.25rem solid #F24C4C;
}
.menu-btn {
  fill: black;
}
.menu-btn {
  width: 2rem;
  height: 2rem;
  display: block;
  fill: white;
}
.menu-btn:hover {
  cursor: pointer;
}

@media (min-width: 900px) {
  .menu-btn {
    display: none;
  }
  .nav {
    opacity: 100;
    max-height: 10vh;
    top: 0;
    background-color: unset;
    position: relative;
    width: unset;
    visibility: visible;
    display: flex;
  }
  .nav a {
    font-size: 1.2rem;
  }
  .nav ul {
    padding: 1rem 0;
    display: flex;
  }
  .nav li{
    list-style: none;
  }
  .nav__list {
    flex-direction: row;
  }
}

.hero{
  display: flex;
  flex-direction: column-reverse;
  height: 90vh;
}
article img,
.hero img{
  width: 100%;
  max-width: 50rem;
  max-height: 50rem
}
@media (min-width:750px) {
  .hero{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  article figure,
  .hero figure{
    max-width: 50%;
    max-height: unset;
  }
}
.btn{
padding: 0.5rem 1.5rem;
background-color: unset;
color: var(--main);
border: 2px solid var(--main);
transition: 0.125s ease all;

}
.btn:hover{
  background-color: var(--main);
  color: var(--black);
  cursor: pointer;
  transition: 0.125s ease all;
}

.articles{
  display: flex;
  flex-direction: column;
}
.articles article{
  display: flex;
  flex-direction: column;
}
.articles article section h2 span{
  font-size: 1.4rem;
}
.article--title{
  font-size: 2rem;
  font-weight: bold;
}
.articles h2{
  font-size: 2.6rem;
}
.articles figure img{
  border: 4px solid var(--main) 
}
@media (min-width:750px) {
  .articles article{
    flex-direction: row;
    max-width: 100%;
    margin: 2rem;
    justify-content: space-between;
    margin: 5rem 0;
  }
  .articles figure,
  .articles section{
    width: 45%;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  .articles article:nth-child(2n+0){
    flex-direction: row-reverse;
    transition: 0.125s ease all;
    }
  }

  .sellers{
    display: flex;
    flex-direction: row-reverse;
    overflow: auto;
  }

.sellers::-webkit-scrollbar {
  width: 10px;
}
.sellers::-webkit-scrollbar-track {
  background: var(--text--gray);
  transition: 0.125s ease all;

}
.sellers:hover::-webkit-scrollbar-track {
  background: var(--main);
  transition: 0.125s ease all;

}

.sellers::-webkit-scrollbar-thumb {
  background: var(--text--gray);
  transition: 0.125s ease all;
}

.sellers::-webkit-scrollbar-thumb:hover {
  background: var(--text--gray);
  transition: 0.125s ease all;

}
  .sellers--card{
    padding: 1rem;
  }
  .sellers--card h3{
    color: var(--main);
  }
  .sellers--card--about p{
    color: var(--text--gray); 
  }
  .sellers--card--content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sellers--card--content section{
    background-color: var(--main);
  }

  .sellers--card--content section img{
    width: 2rem;
    height: 2rem;
    margin: 0.5rem 1rem;
  }
  .sellers--card--content section img:hover{
    cursor: pointer;
  }

  .sellers figure img{
    max-width: 20rem;
  }

  .showcase{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  .sellers section{
    max-width: 20rem;
  }

  /* Products */

  .products{
    margin-top:4rem;
    color: white;
    display: flex;
    justify-content:space-between;
  }
  .filter__bottom{
    display: flex;
    justify-content: space-between;
  }

  
  .filter__bottom--right{
    display: flex;
    width:70%;
    justify-content: space-between;
    align-items: center;
  }
  .filter--right__inner{
    width:25%;
    display: flex;
    justify-content:space-between;
  }

  .products--type{
    display: flex;
    justify-content: space-between;
  }

  .slider{
    width: 100%;
    cursor: pointer;
    width: 100%;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
  }
.products--inner{
  width: 25%;
  /* border: 1px solid var(--main); */
}
  .products--inner__top{
    height: 18rem;
    background-image: url(../images/chocolateDream.jpg);
    background-repeat:none;
    background-position:center;
    background-size:content;
  }

  .products--inner__bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .products--inner__bottom h4{
    margin-top: 1.5rem;
    margin-bottom:0rem;
  }

  .products--icons{
    display: flex;
  }
  .products--inner__bottom--icons{
    display: flex;
    justify-content: space-between;
  }

  .products--right{
    display: flex;
    flex-wrap: wrap;
    width:70%
  }

  .products--inner{
    flex-basis: 23.5%;
    margin: 1rem;
    margin-bottom:4rem
  }
  
  .slider--price{
    display: flex;
    align-items: center;
    
  }
  .showcase img,
  .showcase div{
    width: 25%;
    height: 17rem;
    background-color: white;
    min-width: 20rem;
    transition: 0.125s ease all;
    justify-content: center;
  }
  .showcase img:hover,
  .showcase div:hover{
    transform: scale(1.05);
    transition: 0.125s ease all;
  }
  .showcase div{
    position: relative;
  }
  .showcase p,
  .showcase h3{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width:fit-content;

  }
  .showcase p{
    top: 70%;
    left: 50%;
  }

  .blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }
  .blog section{
    max-width: 45%;
    background-color: var(--text--gray);
    padding: 1rem;

  }
  @media (min-width: 1200px) {
    .blog{
      flex-direction: row;
    }
  }

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contact button{
  font-size: 1.6rem;
}
.contact input{
  background-color: unset; 
  border: 2px solid var(--main);
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
}
.contact input::placeholder{
  color: var(--main);
}
.contact form{
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .contact{
    flex-direction: row;
  }
}

.footer {
  border-top: 1px solid var(--text--gray);
  background: var(--background);
  color: var(--main);
}
.footer ul {
  padding: 0;
}
.footer li {
  list-style: none;
}
.footer div div{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer div  div section{
  margin: 1rem 0;
}
.footer div  div section ul li{
  font-size: 1.4rem;
}
.footer div  div section ul li:hover{
  text-decoration: underline var(--main);
  cursor: pointer;
}
@media (min-width: 875px) {
  .footer div  div{
    flex-direction: row;
  justify-content: space-evenly;
  }
}
@media (min-width: 875px) {
  .footer div  div section{
    margin: 0;
  } 
}